<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>A Little Something About <%= yield(:title) %></title>
  </head>
  <body>
    <h1>In Detail!</h1>
    <p>
      <p>A Little Something About what we do!</p>
    </p>
  </body>
</html>