<% provide(:title, 'Contact Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>This Where to Contact <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contacting Us?</h1>
    <p>
      <p>This is where to contact us!!!</p>
    </p>
  </body>
</html>