<% provide(:title, 'Online Tutorial') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome To <%= yield(:title) %> Help Center </title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      <p>This is the page describing a little something about us</p>
    </p>
  </body>
</html>