<% provide(:title, 'Programs') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> Programs</title>
  </head>
  <body>
    <h1>All Programs</h1>
    <p>
      <p>This page describes in compeltion all the programs listed</p>
    </p>
  </body>
</html>